Repository rodruizronald/tw-scrapper: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mypy, yamllint

.pre-commit-config.yaml:

---
repos:
  # Python tools using local installation
  - repo: local
    hooks:
      - id: ruff
        name: ruff format and check
        entry: bash -c 'ruff format "$@" && ruff check --fix "$@"'
        language: system
        types: [python]
        require_serial: false

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: false

      - id: yamllint
        name: yamllint
        entry: yamllint
        language: system
        types: [yaml]
        require_serial: false

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-ast
      - id: debug-statements
      - id: check-builtin-literals
      - id: check-toml
      - id: check-case-conflict

  # Python-specific checks
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-no-log-warn
      - id: python-use-type-annotations

remove health check
  Dockerfile
  docker-compose.yml
Due: yamllint

rename docker files
  prefect-worker.dockerfile
Due: none

move to docker dir
  docker/docker-compose.yml
  docker/prefect-worker.dockerfile
Due: yamllint

add prefect server docker
  docker/docker-compose.yml
  docker/prefect-server.dockerfile
  docker/prefect-worker.dockerfile
Due: yamllint

git attributes
  .gitattributes
Due: none

update docker commands
  Makefile
Due: none

fix perfect worker start
  docker/prefect-worker.dockerfile
  prefect.yaml
  scripts/start-worker.sh
Due: yamllint

docker setup (#36)
  .dockerignore
  .gitattributes
  Makefile
  docker-compose.yml
  docker/docker-compose.yml
  docker/prefect-server.dockerfile
  docker/prefect-worker.dockerfile
  mongo/01-indexes.js
  pipeline.yaml
  prefect.yaml
  scripts/start-worker.sh
Due: yamllint

fix pipeline imports
  src/data/job_daily_metrics/mapper.py
  src/data/job_listing/mapper.py
  src/pipeline/config/__init__.py
  src/pipeline/flows/main_pipeline_flow.py
  src/pipeline/flows/stage_1_flow.py
  src/pipeline/flows/stage_2_flow.py
  src/pipeline/flows/stage_3_flow.py
  src/pipeline/flows/stage_4_flow.py
  src/pipeline/flows/stage_5_flow.py
  src/pipeline/flows/utils.py
  src/pipeline/stages/stage_1.py
  src/pipeline/stages/stage_2.py
  src/pipeline/stages/stage_3.py
  src/pipeline/stages/stage_4.py
  src/pipeline/tasks/stage_1_task.py
  src/pipeline/tasks/stage_2_task.py
  src/pipeline/tasks/stage_3_task.py
  src/pipeline/tasks/stage_4_task.py
  src/pipeline/tasks/utils.py
Due: ruff, mypy

remove enums
  src/core/config/integrations.py
  src/core/config/services.py
  src/core/enums/domain.py
  src/core/enums/metrics.py
  src/core/mappers/jobs.py
  src/core/models/jobs.py
  src/core/models/metrics.py
  src/core/models/parsers.py
  src/data/job_daily_metrics/mapper.py
  src/data/job_listing/mapper.py
  src/pipeline/config/pipeline.py
  src/pipeline/flows/main_pipeline_flow.py
  src/pipeline/flows/stage_1_flow.py
  src/pipeline/flows/stage_2_flow.py
  src/pipeline/flows/stage_3_flow.py
  src/pipeline/flows/stage_4_flow.py
  src/pipeline/flows/stage_5_flow.py
  src/pipeline/flows/utils.py
  src/pipeline/stages/stage_1.py
  src/pipeline/stages/stage_2.py
  src/pipeline/stages/stage_3.py
  src/pipeline/stages/stage_4.py
  src/pipeline/tasks/stage_1_task.py
  src/pipeline/tasks/stage_2_task.py
  src/pipeline/tasks/stage_3_task.py
  src/pipeline/tasks/stage_4_task.py
  src/pipeline/tasks/utils.py
  src/services/job_data_service.py
  src/services/job_metrics_service.py
  src/services/parsers/models.py
Due: ruff, mypy

add init core
  src/core/__init__.py
  src/core/config/__init__.py
  src/core/mappers/__init__.py
  src/core/mappers/jobs.py
  src/core/models/__init__.py
Due: ruff, mypy

fix mypy
  src/core/config/integrations.py
  src/core/config/services.py
  src/pipeline/config/pipeline.py
  src/services/parsers/models.py
Due: ruff, mypy

adjust mypy config and fixes
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
  src/core/__init__.py
  src/core/config/integrations.py
  src/core/config/services.py
  src/core/models/__init__.py
  src/core/models/jobs.py
  src/core/models/parsers.py
  src/data/job_aggregate_metrics/models.py
  src/data/job_aggregate_metrics/repository.py
  src/data/job_daily_metrics/models.py
  src/data/job_daily_metrics/repository.py
  src/data/job_listing/models.py
  src/data/job_listing/repository.py
  src/pipeline/flows/main_pipeline_flow.py
  src/pipeline/flows/stage_1_flow.py
  src/pipeline/flows/stage_2_flow.py
  src/pipeline/flows/stage_3_flow.py
  src/pipeline/flows/stage_4_flow.py
  src/pipeline/flows/stage_5_flow.py
  src/pipeline/flows/utils.py
  src/pipeline/stages/stage_1.py
  src/pipeline/stages/stage_2.py
  src/pipeline/stages/stage_3.py
  src/pipeline/stages/stage_4.py
  src/pipeline/tasks/stage_1_task.py
  src/pipeline/tasks/stage_2_task.py
  src/pipeline/tasks/stage_3_task.py
  src/pipeline/tasks/stage_4_task.py
  src/services/__init__.py
  src/services/job_data_service.py
  src/services/job_metrics_service.py
  src/services/openai_service.py
  src/services/parsers/__init__.py
  src/services/parsers/models.py
  src/services/web_extraction_service.py
  tools/selector.py
Due: ruff, mypy, yamllint

database restructure
  src/core/config/database.py
  src/data/__init__.py
  src/data/base/__init__.py
  src/data/controller.py
  src/data/job_aggregate_metrics/__init__.py
  src/data/job_daily_metrics/__init__.py
  src/data/job_listing/__init__.py
  src/data/mappers/job_daily_metrics_mapper.py
  src/data/mappers/job_listing_mapper.py
  src/data/models/job_aggregate_metrics.py
  src/data/models/job_daily_metrics.py
  src/data/models/job_listing.py
  src/data/repositories/base.py
  src/data/repositories/job_aggregate_repo.py
  src/data/repositories/job_daily_metrics_repo.py
  src/data/repositories/job_listing_repo.py
  src/services/job_data_service.py
  src/services/job_metrics_service.py
Due: ruff, mypy

rename database obj
  src/data/__init__.py
  src/data/mappers/job_mapper.py
  src/data/mappers/metrics_mapper.py
  src/data/models/aggregate_metrics.py
  src/data/models/daily_metrics.py
  src/data/repositories/aggregate_metrics_repo.py
  src/data/repositories/base_repo.py
  src/data/repositories/daily_metrics_repo.py
  src/data/repositories/job_listing_repo.py
  src/pipeline/config/pipeline.py
  src/pipeline/flows/stage_2_flow.py
  src/pipeline/flows/stage_3_flow.py
  src/pipeline/flows/stage_4_flow.py
  src/pipeline/flows/stage_5_flow.py
  src/pipeline/stages/stage_1.py
  src/pipeline/stages/stage_2.py
  src/pipeline/stages/stage_3.py
  src/pipeline/stages/stage_4.py
  src/services/__init__.py
  src/services/data_service.py
  src/services/metrics_service.py
Due: ruff, mypy

update comments
  src/core/mappers/jobs.py
Due: ruff, mypy

add missing init
  src/__init__.py
  src/core/config/integrations.py
  src/core/config/services.py
  src/core/models/jobs.py
  src/data/mappers/__init__.py
  src/data/models/__init__.py
  src/data/repositories/__init__.py
  src/pipeline/config/pipeline.py
  src/pipeline/config/stages.py
  src/pipeline/flows/main_pipeline_flow.py
  src/pipeline/flows/stage_1_flow.py
  src/pipeline/flows/stage_2_flow.py
  src/pipeline/flows/stage_3_flow.py
  src/pipeline/flows/stage_4_flow.py
  src/pipeline/flows/stage_5_flow.py
  src/pipeline/flows/utils.py
  src/pipeline/stages/stage_1.py
  src/pipeline/stages/stage_2.py
  src/pipeline/stages/stage_3.py
  src/pipeline/stages/stage_4.py
  src/pipeline/tasks/stage_1_task.py
  src/pipeline/tasks/stage_2_task.py
  src/pipeline/tasks/stage_3_task.py
  src/pipeline/tasks/stage_4_task.py
  src/services/openai_service.py
  src/services/web_extraction_service.py
Due: ruff, mypy

database init
  src/core/config/__init__.py
Due: ruff, mypy

rename db (#38)
  src/__init__.py
  src/core/config/__init__.py
  src/core/config/integrations.py
  src/core/config/services.py
  src/core/mappers/jobs.py
  src/core/models/jobs.py
  src/data/__init__.py
  src/data/mappers/__init__.py
  src/data/mappers/job_mapper.py
  src/data/mappers/metrics_mapper.py
  src/data/models/__init__.py
  src/data/models/aggregate_metrics.py
  src/data/models/daily_metrics.py
  src/data/repositories/__init__.py
  src/data/repositories/aggregate_metrics_repo.py
  src/data/repositories/base_repo.py
  src/data/repositories/daily_metrics_repo.py
  src/data/repositories/job_listing_repo.py
  src/pipeline/config/pipeline.py
  src/pipeline/config/stages.py
  src/pipeline/flows/main_pipeline_flow.py
  src/pipeline/flows/stage_1_flow.py
  src/pipeline/flows/stage_2_flow.py
  src/pipeline/flows/stage_3_flow.py
  src/pipeline/flows/stage_4_flow.py
  src/pipeline/flows/stage_5_flow.py
  src/pipeline/flows/utils.py
  src/pipeline/stages/stage_1.py
  src/pipeline/stages/stage_2.py
  src/pipeline/stages/stage_3.py
  src/pipeline/stages/stage_4.py
  src/pipeline/tasks/stage_1_task.py
  src/pipeline/tasks/stage_2_task.py
  src/pipeline/tasks/stage_3_task.py
  src/pipeline/tasks/stage_4_task.py
  src/services/__init__.py
  src/services/data_service.py
  src/services/metrics_service.py
  src/services/openai_service.py
  src/services/web_extraction_service.py
Due: ruff, mypy

remove logrus
  pyproject.toml
  src/core/mappers/jobs.py
  src/data/controller.py
  src/data/repositories/aggregate_metrics_repo.py
  src/data/repositories/base_repo.py
  src/data/repositories/daily_metrics_repo.py
  src/data/repositories/job_listing_repo.py
  src/pipeline/stages/stage_1.py
  src/pipeline/stages/stage_2.py
  src/pipeline/stages/stage_3.py
  src/pipeline/stages/stage_4.py
  src/services/data_service.py
  src/services/metrics_service.py
  src/services/openai_service.py
  src/services/parsers/base.py
  src/services/parsers/factory.py
  src/services/parsers/instances.py
  src/services/web_extraction_service.py
  tools/selector.py
Due: ruff, mypy

remove logrus (#39)
  pyproject.toml
  src/core/mappers/jobs.py
  src/data/controller.py
  src/data/repositories/aggregate_metrics_repo.py
  src/data/repositories/base_repo.py
  src/data/repositories/daily_metrics_repo.py
  src/data/repositories/job_listing_repo.py
  src/pipeline/stages/stage_1.py
  src/pipeline/stages/stage_2.py
  src/pipeline/stages/stage_3.py
  src/pipeline/stages/stage_4.py
  src/services/data_service.py
  src/services/metrics_service.py
  src/services/openai_service.py
  src/services/parsers/base.py
  src/services/parsers/factory.py
  src/services/parsers/instances.py
  src/services/web_extraction_service.py
  tools/selector.py
Due: ruff, mypy

include src in docker build
  docker/docker-compose.yml
  docker/prefect-worker.dockerfile
  prefect.yaml
Due: yamllint

include src in docker build (#40)
  docker/docker-compose.yml
  docker/prefect-worker.dockerfile
  prefect.yaml
Due: yamllint

use utc timezone
  src/data/models/aggregate_metrics.py
  src/data/models/daily_metrics.py
  src/data/models/job_listing.py
  src/data/repositories/aggregate_metrics_repo.py
  src/data/repositories/daily_metrics_repo.py
  src/data/repositories/job_listing_repo.py
  src/pipeline/flows/stage_5_flow.py
  src/pipeline/stages/stage_1.py
  src/pipeline/stages/stage_2.py
  src/pipeline/stages/stage_3.py
  src/pipeline/stages/stage_4.py
  src/services/data_service.py
  src/services/metrics_service.py
  src/utils/timezone.py
Due: ruff, mypy

use utc timezone (#41)
  src/data/models/aggregate_metrics.py
  src/data/models/daily_metrics.py
  src/data/models/job_listing.py
  src/data/repositories/aggregate_metrics_repo.py
  src/data/repositories/daily_metrics_repo.py
  src/data/repositories/job_listing_repo.py
  src/pipeline/flows/stage_5_flow.py
  src/pipeline/stages/stage_1.py
  src/pipeline/stages/stage_2.py
  src/pipeline/stages/stage_3.py
  src/pipeline/stages/stage_4.py
  src/services/data_service.py
  src/services/metrics_service.py
  src/utils/timezone.py
Due: ruff, mypy

clean up makefile
  Makefile
Due: none

clean up makefile (#42)
  Makefile
Due: none

dashboard implementation
  .pre-commit-config.yaml
  .streamlit/config.toml
  Makefile
  pyproject.toml
  src/core/config/integrations.py
  src/core/config/services.py
  src/core/models/__init__.py
  src/core/models/jobs.py
  src/core/models/parsers.py
  src/dashboard/__init__.py
  src/dashboard/app.py
  src/dashboard/components/__init__.py
  src/dashboard/components/metrics_cards.py
  src/dashboard/components/sidebar.py
  src/dashboard/pages/companies.py
  src/dashboard/pages/issues_alerts.py
  src/dashboard/pages/overview.py
  src/dashboard/pages/stage_analysis.py
  src/data/repositories/aggregate_metrics_repo.py
  src/data/repositories/job_listing_repo.py
  src/pipeline/config/pipeline.py
  src/services/__init__.py
  src/services/data_service.py
  src/services/metrics_service.py
  src/services/parsers/__init__.py
  src/services/parsers/models.py
  src/services/web_extraction_service.py
  src/utils/timezone.py
  tools/selector.py
Due: ruff, mypy, yamllint

update makefile
  Makefile
Due: none

methods to remove incomplete jobs
  src/data/repositories/job_listing_repo.py
  src/services/data_service.py
Due: ruff, mypy

adjust woker build
  Makefile
  docker/docker-compose.yml
  docker/prefect-server.dockerfile
  docker/prefect-worker.dockerfile
  pipeline.yaml
  pyproject.toml
  src/dashboard/components/sidebar.py
  src/data/models/aggregate_metrics.py
  src/data/models/daily_metrics.py
  src/data/models/job_listing.py
  src/data/repositories/aggregate_metrics_repo.py
  src/data/repositories/daily_metrics_repo.py
  src/data/repositories/job_listing_repo.py
  src/pipeline/config/pipeline.py
  src/pipeline/flows/main_pipeline_flow.py
  src/pipeline/flows/stage_5_flow.py
  src/pipeline/stages/stage_1.py
  src/pipeline/stages/stage_2.py
  src/pipeline/stages/stage_3.py
  src/pipeline/stages/stage_4.py
  src/pipeline/tasks/stage_1_task.py
  src/pipeline/tasks/stage_2_task.py
  src/pipeline/tasks/stage_3_task.py
  src/pipeline/tasks/stage_4_task.py
  src/services/data_service.py
  src/services/metrics_service.py
  src/services/openai_service.py
  src/services/web_extraction_service.py
Due: ruff, mypy, yamllint

configure service loggers
  docker/docker-compose.yml
  src/pipeline/flows/main_pipeline_flow.py
  src/pipeline/main.py
  src/services/data_service.py
Due: ruff, mypy, yamllint

dashboard docker build
  Makefile
  docker/docker-compose.yml
  docker/prefect-worker.dockerfile
  docker/streamlit-dashboard.dockerfile
  pyproject.toml
  scripts/start-dashboard.sh
  src/services/__init__.py
Due: ruff, mypy, yamllint

fix mypy
  .pre-commit-config.yaml
  src/dashboard/components/metrics_cards.py
  src/dashboard/pages/issues_alerts.py
  src/services/data_service.py
  src/services/parsers/base.py
  src/services/web_extraction_service.py
Due: ruff, mypy, yamllint
