Repository rodruizronald/tw-scrapper: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mypy, yamllint

ruff:
  name: ruff format and check
  entry: bash -c 'ruff format "$@" && ruff check --fix "$@"'
  language: system
  require_serial: false

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: false

yamllint:
  name: yamllint
  entry: yamllint
  language: system
  require_serial: false

pipeline stage configs
  pipeline/core/config.py
Due: ruff, mypy

stage 2 flow and task integration
  pipeline.yaml
  pipeline/flows/__init__.py
  pipeline/flows/main_pipeline_flow.py
  pipeline/flows/stage_2_flow.py
  pipeline/services/file_service.py
  pipeline/stages/__init__.py
  pipeline/stages/stage_1.py
  pipeline/stages/stage_2.py
  pipeline/tasks/job_processing.py
Due: ruff, mypy, yamllint

raname stage 1 task
  pipeline/README.md
  pipeline/flows/stage_1_flow.py
  pipeline/tasks/__init__.py
  pipeline/tasks/stage_1_task.py
Due: ruff, mypy

raname stage 2 task
  pipeline/flows/stage_2_flow.py
  pipeline/tasks/stage_2_task.py
Due: ruff, mypy

stage 3 and 4 skeleton
  pipeline/flows/__init__.py
  pipeline/flows/main_pipeline_flow.py
  pipeline/flows/stage_3_flow.py
  pipeline/flows/stage_4_flow.py
  pipeline/stages/__init__.py
  pipeline/stages/stage_3.py
  pipeline/stages/stage_4.py
  pipeline/tasks/stage_3_task.py
  pipeline/tasks/stage_4_task.py
Due: ruff, mypy

update pipeline
  pipeline/core/__init__.py
  pipeline/core/mappers.py
  pipeline/core/models.py
  pipeline/flows/stage_2_flow.py
  pipeline/flows/stage_3_flow.py
  pipeline/flows/stage_4_flow.py
  pipeline/stages/stage_2.py
  pipeline/tasks/stage_1_task.py
  pipeline/tasks/stage_2_task.py
  pipeline/tasks/stage_3_task.py
  pipeline/tasks/stage_4_task.py
  pipeline/tasks/utils.py
Due: ruff, mypy

pipeline stage configs (#18)
  pipeline.yaml
  pipeline/README.md
  pipeline/core/__init__.py
  pipeline/core/config.py
  pipeline/core/mappers.py
  pipeline/core/models.py
  pipeline/flows/__init__.py
  pipeline/flows/main_pipeline_flow.py
  pipeline/flows/stage_2_flow.py
  pipeline/flows/stage_3_flow.py
  pipeline/flows/stage_4_flow.py
  pipeline/services/file_service.py
  pipeline/stages/__init__.py
  pipeline/stages/stage_1.py
  pipeline/stages/stage_2.py
  pipeline/stages/stage_3.py
  pipeline/stages/stage_4.py
  pipeline/tasks/__init__.py
  pipeline/tasks/stage_1_task.py
  pipeline/tasks/stage_2_task.py
  pipeline/tasks/stage_3_task.py
  pipeline/tasks/stage_4_task.py
  pipeline/tasks/utils.py
Due: ruff, mypy, yamllint

remove job data model
  pipeline/__init__.py
  pipeline/core/__init__.py
  pipeline/core/models.py
  pipeline/services/file_service.py
  pipeline/stages/stage_1.py
  pipeline/stages/stage_2.py
  pipeline/stages/stage_3.py
  pipeline/stages/stage_4.py
  pipeline/tasks/stage_2_task.py
  pipeline/tasks/stage_3_task.py
  pipeline/tasks/stage_4_task.py
Due: ruff, mypy

remove job data model (#19)
  pipeline/__init__.py
  pipeline/core/__init__.py
  pipeline/core/models.py
  pipeline/services/file_service.py
  pipeline/stages/stage_1.py
  pipeline/stages/stage_2.py
  pipeline/stages/stage_3.py
  pipeline/stages/stage_4.py
  pipeline/tasks/stage_2_task.py
  pipeline/tasks/stage_3_task.py
  pipeline/tasks/stage_4_task.py
Due: ruff, mypy

remove processing result model
  pipeline/__init__.py
  pipeline/core/__init__.py
  pipeline/core/models.py
  pipeline/flows/stage_1_flow.py
  pipeline/flows/stage_2_flow.py
  pipeline/flows/stage_3_flow.py
  pipeline/flows/stage_4_flow.py
  pipeline/services/file_service.py
  pipeline/stages/stage_1.py
  pipeline/stages/stage_2.py
  pipeline/stages/stage_3.py
  pipeline/stages/stage_4.py
  pipeline/tasks/stage_1_task.py
  pipeline/tasks/stage_2_task.py
  pipeline/tasks/stage_3_task.py
  pipeline/tasks/stage_4_task.py
Due: ruff, mypy

stage 1 return results
  pipeline.yaml
  pipeline/flows/stage_1_flow.py
  pipeline/services/file_service.py
  pipeline/stages/stage_1.py
  pipeline/tasks/stage_1_task.py
Due: ruff, mypy, yamllint

refactor stage 1 and 2
  pipeline.yaml
  pipeline/flows/main_pipeline_flow.py
  pipeline/flows/stage_1_flow.py
  pipeline/flows/stage_2_flow.py
  pipeline/flows/stage_3_flow.py
  pipeline/flows/stage_4_flow.py
  pipeline/services/file_service.py
  pipeline/stages/stage_1.py
  pipeline/stages/stage_2.py
  pipeline/tasks/stage_1_task.py
  pipeline/tasks/stage_2_task.py
Due: ruff, mypy, yamllint

update stage logging
  pipeline/flows/stage_2_flow.py
  pipeline/tasks/stage_2_task.py
  pipeline/tasks/stage_3_task.py
  pipeline/tasks/stage_4_task.py
Due: ruff, mypy

remove processing result model (#20)
  pipeline.yaml
  pipeline/__init__.py
  pipeline/core/__init__.py
  pipeline/core/models.py
  pipeline/flows/main_pipeline_flow.py
  pipeline/flows/stage_1_flow.py
  pipeline/flows/stage_2_flow.py
  pipeline/flows/stage_3_flow.py
  pipeline/flows/stage_4_flow.py
  pipeline/services/file_service.py
  pipeline/stages/stage_1.py
  pipeline/stages/stage_2.py
  pipeline/stages/stage_3.py
  pipeline/stages/stage_4.py
  pipeline/tasks/stage_1_task.py
  pipeline/tasks/stage_2_task.py
  pipeline/tasks/stage_3_task.py
  pipeline/tasks/stage_4_task.py
Due: ruff, mypy, yamllint

update output format
  prompts/stage_2_details.md
Due: none

fix previous day logic
  pipeline/flows/stage_3_flow.py
  pipeline/services/file_service.py
Due: ruff, mypy

job skills models and mapper
  pipeline/core/mappers.py
  pipeline/core/models.py
Due: ruff, mypy

stage 3 logic
  pipeline/stages/stage_3.py
Due: ruff, mypy

update file service job skills
  pipeline.yaml
  pipeline/services/file_service.py
  pipeline/stages/stage_1.py
  pipeline/stages/stage_2.py
  pipeline/stages/stage_3.py
  pipeline/tasks/stage_3_task.py
Due: ruff, mypy, yamllint

refactor stage 3 logic
  pipeline.yaml
  pipeline/flows/main_pipeline_flow.py
  pipeline/flows/stage_2_flow.py
  pipeline/flows/stage_3_flow.py
  pipeline/flows/stage_4_flow.py
  pipeline/stages/stage_2.py
  pipeline/tasks/stage_1_task.py
  pipeline/tasks/stage_2_task.py
  pipeline/tasks/stage_3_task.py
Due: ruff, mypy, yamllint

stage 3 (#21)
  pipeline.yaml
  pipeline/core/mappers.py
  pipeline/core/models.py
  pipeline/flows/main_pipeline_flow.py
  pipeline/flows/stage_2_flow.py
  pipeline/flows/stage_3_flow.py
  pipeline/flows/stage_4_flow.py
  pipeline/services/file_service.py
  pipeline/stages/stage_1.py
  pipeline/stages/stage_2.py
  pipeline/stages/stage_3.py
  pipeline/tasks/stage_1_task.py
  pipeline/tasks/stage_2_task.py
  pipeline/tasks/stage_3_task.py
  prompts/stage_2_details.md
Due: ruff, mypy, yamllint

stage 4 model and mapper
  pipeline/core/mappers.py
  pipeline/core/models.py
Due: ruff, mypy

stage 4 layer logic
  pipeline/core/mappers.py
  pipeline/core/models.py
  pipeline/flows/main_pipeline_flow.py
  pipeline/flows/stage_3_flow.py
  pipeline/flows/stage_4_flow.py
  pipeline/services/file_service.py
  pipeline/stages/stage_3.py
  pipeline/stages/stage_4.py
  pipeline/tasks/stage_3_task.py
  pipeline/tasks/stage_4_task.py
Due: ruff, mypy

job mapper
  pipeline/core/mappers.py
  pipeline/core/models.py
  pipeline/services/file_service.py
  pipeline/stages/stage_1.py
Due: ruff, mypy

job model remove timestamp
  pipeline/core/mappers.py
  pipeline/stages/stage_1.py
  pipeline/stages/stage_2.py
  pipeline/stages/stage_3.py
Due: ruff, mypy

dict helpers for job model
  pipeline/core/models.py
  pipeline/services/file_service.py
Due: ruff, mypy

update prompt stage 2
  prompts/stage_2_details.md
Due: none

add job function
  prompts/stage_2_details.md
Due: none

update stage 2 output
  pipeline.yaml
  pipeline/core/mappers.py
  pipeline/core/models.py
  pipeline/stages/stage_2.py
Due: ruff, mypy, yamllint

stage 4 (#22)
  pipeline.yaml
  pipeline/core/mappers.py
  pipeline/core/models.py
  pipeline/flows/main_pipeline_flow.py
  pipeline/flows/stage_3_flow.py
  pipeline/flows/stage_4_flow.py
  pipeline/services/file_service.py
  pipeline/stages/stage_1.py
  pipeline/stages/stage_2.py
  pipeline/stages/stage_3.py
  pipeline/stages/stage_4.py
  pipeline/tasks/stage_3_task.py
  pipeline/tasks/stage_4_task.py
  prompts/stage_2_details.md
Due: ruff, mypy, yamllint

refactor prompt stage 3 and timeouts
  pipeline.yaml
  pipeline/flows/main_pipeline_flow.py
  pipeline/flows/stage_1_flow.py
  pipeline/flows/stage_2_flow.py
  pipeline/flows/stage_3_flow.py
  pipeline/flows/stage_4_flow.py
  pipeline/tasks/stage_1_task.py
  pipeline/tasks/stage_2_task.py
  pipeline/tasks/stage_3_task.py
  pipeline/tasks/stage_4_task.py
  prompts/stage_3_skills.md
Due: ruff, mypy, yamllint

fix description format
  prompts/stage_2_details.md
Due: none

fix word case format
  prompts/stage_3_skills.md
Due: none

stage 4 implementation
  pipeline/stages/stage_4.py
  pipeline/tasks/stage_4_task.py
Due: ruff, mypy

update timeouts
  pipeline.yaml
Due: yamllint

fix prompt template
  pipeline/stages/stage_4.py
Due: ruff, mypy

break stage 3 (#23)
  pipeline.yaml
  pipeline/flows/main_pipeline_flow.py
  pipeline/flows/stage_1_flow.py
  pipeline/flows/stage_2_flow.py
  pipeline/flows/stage_3_flow.py
  pipeline/flows/stage_4_flow.py
  pipeline/stages/stage_4.py
  pipeline/tasks/stage_1_task.py
  pipeline/tasks/stage_2_task.py
  pipeline/tasks/stage_3_task.py
  pipeline/tasks/stage_4_task.py
  prompts/stage_2_details.md
  prompts/stage_3_skills.md
Due: ruff, mypy, yamllint

add persistance
  pipeline/__init__.py
  pipeline/persistence/README.md
  pipeline/persistence/__init__.py
  pipeline/persistence/config.py
  pipeline/persistence/database.py
  pipeline/persistence/mappers.py
  pipeline/persistence/models.py
  pipeline/persistence/repositories.py
Due: ruff, mypy

add mongoDb
  pyproject.toml
Due: none

remove repository config
  pipeline/persistence/config.py
Due: ruff, mypy

Path conditions:
  ruff: any of: \.py$
  mypy: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
