Repository rodruizronald/tw-scrapper: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mypy, yamllint

.pre-commit-config.yaml:

---
repos:
  # Python tools using local installation
  - repo: local
    hooks:
      - id: ruff
        name: ruff format and check
        entry: bash -c 'ruff format "$@" && ruff check --fix "$@"'
        language: system
        types: [python]
        require_serial: false

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: false

      - id: yamllint
        name: yamllint
        entry: yamllint
        language: system
        types: [yaml]
        require_serial: false

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-ast
      - id: debug-statements
      - id: check-builtin-literals
      - id: check-toml
      - id: check-case-conflict

  # Python-specific checks
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-no-log-warn
      - id: python-use-type-annotations

use database config
  pipeline/persistence/database.py
Due: ruff, mypy

docker set up for mongoDB
  Makefile
  docker-compose.yml
Due: yamllint

repository (#24)
  Makefile
  docker-compose.yml
  pipeline/__init__.py
  pipeline/persistence/README.md
  pipeline/persistence/__init__.py
  pipeline/persistence/config.py
  pipeline/persistence/database.py
  pipeline/persistence/mappers.py
  pipeline/persistence/models.py
  pipeline/persistence/repositories.py
  pyproject.toml
Due: ruff, mypy, yamllint

setup mongo db indexes
  Makefile
  docker-compose.yml
  mongo-init/01-indexes.js
  pipeline/persistence/README.md
  pipeline/persistence/database.py
Due: ruff, mypy, yamllint

setup mongo db indexes (#25)
  Makefile
  docker-compose.yml
  mongo-init/01-indexes.js
  pipeline/persistence/README.md
  pipeline/persistence/database.py
Due: ruff, mypy, yamllint

db service
  pipeline/persistence/mappers.py
  pipeline/persistence/models.py
  pipeline/persistence/repositories.py
  pipeline/services/__init__.py
  pipeline/services/database_service.py
Due: ruff, mypy

db service (#26)
  pipeline/persistence/mappers.py
  pipeline/persistence/models.py
  pipeline/persistence/repositories.py
  pipeline/services/__init__.py
  pipeline/services/database_service.py
Due: ruff, mypy

save jobs in db
  pipeline.yaml
  pipeline/persistence/config.py
  pipeline/persistence/database.py
  pipeline/persistence/repositories.py
  pipeline/services/__init__.py
  pipeline/services/database_service.py
  pipeline/stages/stage_1.py
  pipeline/stages/stage_2.py
  pipeline/stages/stage_3.py
  pipeline/stages/stage_4.py
  pipeline/utils/__init__.py
  pipeline/utils/exceptions.py
Due: ruff, mypy, yamllint

load jobs from db
  pipeline/flows/stage_2_flow.py
  pipeline/flows/stage_3_flow.py
  pipeline/flows/stage_4_flow.py
Due: ruff, mypy

remove file service
  pipeline.yaml
  pipeline/__init__.py
  pipeline/core/config.py
  pipeline/services/__init__.py
  pipeline/services/file_service.py
Due: ruff, mypy, yamllint

db service integration (#27)
  pipeline.yaml
  pipeline/__init__.py
  pipeline/core/config.py
  pipeline/flows/stage_2_flow.py
  pipeline/flows/stage_3_flow.py
  pipeline/flows/stage_4_flow.py
  pipeline/persistence/config.py
  pipeline/persistence/database.py
  pipeline/persistence/repositories.py
  pipeline/services/__init__.py
  pipeline/services/database_service.py
  pipeline/services/file_service.py
  pipeline/stages/stage_1.py
  pipeline/stages/stage_2.py
  pipeline/stages/stage_3.py
  pipeline/stages/stage_4.py
  pipeline/utils/__init__.py
  pipeline/utils/exceptions.py
Due: ruff, mypy, yamllint

deactive existin jobs
  pipeline/stages/stage_1.py
Due: ruff, mypy

remove logs
  pipeline/persistence/database.py
Due: ruff, mypy

remove stage results
  pipeline/flows/main_pipeline_flow.py
  pipeline/flows/stage_2_flow.py
  pipeline/flows/stage_3_flow.py
  pipeline/flows/stage_4_flow.py
Due: ruff, mypy

deactive jobs (#28)
  pipeline/flows/main_pipeline_flow.py
  pipeline/flows/stage_2_flow.py
  pipeline/flows/stage_3_flow.py
  pipeline/flows/stage_4_flow.py
  pipeline/persistence/database.py
  pipeline/stages/stage_1.py
Due: ruff, mypy

remove unused repo methods
  pipeline/persistence/database.py
  pipeline/persistence/repositories.py
Due: ruff, mypy

remove unused repo methods (#29)
  pipeline/persistence/database.py
  pipeline/persistence/repositories.py
Due: ruff, mypy

restructure persistance layer
  pipeline/persistence/README.md
  pipeline/persistence/__init__.py
  pipeline/persistence/base/__init__.py
  pipeline/persistence/base/repository.py
  pipeline/persistence/job_listing/__init__.py
  pipeline/persistence/job_listing/mapper.py
  pipeline/persistence/job_listing/models.py
  pipeline/persistence/job_listing/repository.py
  pipeline/services/database_service.py
Due: ruff, mypy

fix imports and comments
  pipeline/__init__.py
  pipeline/persistence/__init__.py
  pipeline/persistence/base/__init__.py
  pipeline/persistence/base/repository.py
  pipeline/persistence/config.py
  pipeline/persistence/database.py
  pipeline/persistence/job_listing/__init__.py
  pipeline/persistence/job_listing/mapper.py
  pipeline/persistence/job_listing/models.py
  pipeline/persistence/job_listing/repository.py
  pipeline/services/database_service.py
Due: ruff, mypy

rename to job data service
  pipeline/README.md
  pipeline/flows/stage_2_flow.py
  pipeline/flows/stage_3_flow.py
  pipeline/flows/stage_4_flow.py
  pipeline/services/__init__.py
  pipeline/services/job_data_service.py
  pipeline/stages/stage_1.py
  pipeline/stages/stage_2.py
  pipeline/stages/stage_3.py
  pipeline/stages/stage_4.py
Due: ruff, mypy

refactor data layer
  .gitignore
  pipeline/README.md
  pipeline/__init__.py
  pipeline/data/__init__.py
  pipeline/data/base/__init__.py
  pipeline/data/base/repository.py
  pipeline/data/config.py
  pipeline/data/database.py
  pipeline/data/job_listing/__init__.py
  pipeline/data/job_listing/mapper.py
  pipeline/data/job_listing/models.py
  pipeline/data/job_listing/repository.py
  pipeline/flows/stage_2_flow.py
  pipeline/flows/stage_3_flow.py
  pipeline/flows/stage_4_flow.py
  pipeline/persistence/README.md
  pipeline/services/__init__.py
  pipeline/services/job_data_service.py
  pipeline/stages/stage_1.py
  pipeline/stages/stage_2.py
  pipeline/stages/stage_3.py
  pipeline/stages/stage_4.py
Due: ruff, mypy

refactor storage layer
  .gitignore
  pipeline/README.md
  pipeline/__init__.py
  pipeline/data/__init__.py
  pipeline/data/base/__init__.py
  pipeline/data/base/repository.py
  pipeline/data/config.py
  pipeline/data/database.py
  pipeline/data/job_listing/__init__.py
  pipeline/data/job_listing/mapper.py
  pipeline/data/job_listing/models.py
  pipeline/data/job_listing/repository.py
  pipeline/flows/stage_2_flow.py
  pipeline/flows/stage_3_flow.py
  pipeline/flows/stage_4_flow.py
  pipeline/persistence/README.md
  pipeline/services/__init__.py
  pipeline/services/job_data_service.py
  pipeline/stages/stage_1.py
  pipeline/stages/stage_2.py
  pipeline/stages/stage_3.py
  pipeline/stages/stage_4.py
Due: ruff, mypy

refactor storage layer (#32)
  .gitignore
  pipeline/README.md
  pipeline/__init__.py
  pipeline/data/__init__.py
  pipeline/data/base/__init__.py
  pipeline/data/base/repository.py
  pipeline/data/config.py
  pipeline/data/database.py
  pipeline/data/job_listing/__init__.py
  pipeline/data/job_listing/mapper.py
  pipeline/data/job_listing/models.py
  pipeline/data/job_listing/repository.py
  pipeline/flows/stage_2_flow.py
  pipeline/flows/stage_3_flow.py
  pipeline/flows/stage_4_flow.py
  pipeline/persistence/README.md
  pipeline/services/__init__.py
  pipeline/services/job_data_service.py
  pipeline/stages/stage_1.py
  pipeline/stages/stage_2.py
  pipeline/stages/stage_3.py
  pipeline/stages/stage_4.py
Due: ruff, mypy

metrics implementation
  pipeline/data/base/repository.py
  pipeline/data/config.py
  pipeline/data/job_aggregate_metrics/__init__.py
  pipeline/data/job_aggregate_metrics/models.py
  pipeline/data/job_aggregate_metrics/repository.py
  pipeline/data/job_daily_metrics/__init__.py
  pipeline/data/job_daily_metrics/models.py
  pipeline/data/job_daily_metrics/repository.py
  pipeline/data/job_listing/repository.py
  pipeline/services/__init__.py
  pipeline/services/job_metrics_service.py
Due: ruff, mypy

flat company daily metrics
  pipeline/core/models.py
  pipeline/data/job_daily_metrics/mapper.py
  pipeline/data/job_daily_metrics/repository.py
  pipeline/services/job_metrics_service.py
Due: ruff, mypy

refactor stage metrics
  pipeline/data/job_daily_metrics/models.py
  pipeline/data/job_daily_metrics/repository.py
Due: ruff, mypy

clean up
  pipeline/core/models.py
  pipeline/data/job_daily_metrics/models.py
  pipeline/data/job_daily_metrics/repository.py
Due: ruff, mypy

export repos
  pipeline/data/__init__.py
  pipeline/data/job_aggregate_metrics/repository.py
  pipeline/data/job_daily_metrics/repository.py
  pipeline/services/job_data_service.py
  pipeline/services/job_metrics_service.py
Due: ruff, mypy

update indexes
  mongo-init/01-indexes.js
Due: none

metrics implementation (#33)
  mongo-init/01-indexes.js
  pipeline/core/models.py
  pipeline/data/__init__.py
  pipeline/data/base/repository.py
  pipeline/data/config.py
  pipeline/data/job_aggregate_metrics/__init__.py
  pipeline/data/job_aggregate_metrics/models.py
  pipeline/data/job_aggregate_metrics/repository.py
  pipeline/data/job_daily_metrics/__init__.py
  pipeline/data/job_daily_metrics/mapper.py
  pipeline/data/job_daily_metrics/models.py
  pipeline/data/job_daily_metrics/repository.py
  pipeline/data/job_listing/repository.py
  pipeline/services/__init__.py
  pipeline/services/job_data_service.py
  pipeline/services/job_metrics_service.py
Due: ruff, mypy

integrate stage metrics
  Makefile
  docker-compose.yml
  pipeline/data/job_aggregate_metrics/models.py
  pipeline/data/job_daily_metrics/models.py
  pipeline/services/job_data_service.py
  pipeline/stages/stage_1.py
  pipeline/stages/stage_2.py
  pipeline/stages/stage_3.py
  pipeline/stages/stage_4.py
  pipeline/tasks/stage_1_task.py
Due: ruff, mypy, yamllint

fix metrics integration
  pipeline.yaml
  pipeline/data/job_aggregate_metrics/repository.py
  pipeline/data/job_listing/repository.py
  pipeline/flows/main_pipeline_flow.py
  pipeline/flows/stage_2_flow.py
  pipeline/flows/stage_3_flow.py
  pipeline/flows/stage_4_flow.py
  pipeline/flows/stage_5_flow.py
  pipeline/services/job_data_service.py
  pipeline/tasks/stage_2_task.py
  pipeline/tasks/stage_3_task.py
  pipeline/tasks/stage_4_task.py
Due: ruff, mypy, yamllint

metrics integration (#34)
  Makefile
  docker-compose.yml
  pipeline.yaml
  pipeline/data/job_aggregate_metrics/models.py
  pipeline/data/job_aggregate_metrics/repository.py
  pipeline/data/job_daily_metrics/models.py
  pipeline/data/job_listing/repository.py
  pipeline/flows/main_pipeline_flow.py
  pipeline/flows/stage_2_flow.py
  pipeline/flows/stage_3_flow.py
  pipeline/flows/stage_4_flow.py
  pipeline/flows/stage_5_flow.py
  pipeline/services/job_data_service.py
  pipeline/stages/stage_1.py
  pipeline/stages/stage_2.py
  pipeline/stages/stage_3.py
  pipeline/stages/stage_4.py
  pipeline/tasks/stage_1_task.py
  pipeline/tasks/stage_2_task.py
  pipeline/tasks/stage_3_task.py
  pipeline/tasks/stage_4_task.py
Due: ruff, mypy, yamllint

fix indexes
  pipeline/data/job_aggregate_metrics/repository.py
  pipeline/services/job_data_service.py
Due: ruff, mypy

add empty space
  .gitignore
  README.md
Due: none

timezone utils
  pipeline/utils/timezone.py
Due: ruff, mypy

to local timezone
  pipeline/data/job_aggregate_metrics/models.py
  pipeline/data/job_aggregate_metrics/repository.py
  pipeline/data/job_daily_metrics/models.py
  pipeline/data/job_daily_metrics/repository.py
  pipeline/data/job_listing/models.py
  pipeline/data/job_listing/repository.py
  pipeline/flows/stage_5_flow.py
  pipeline/services/job_data_service.py
  pipeline/services/job_metrics_service.py
  pipeline/stages/stage_1.py
  pipeline/stages/stage_2.py
  pipeline/stages/stage_3.py
  pipeline/stages/stage_4.py
  pipeline/utils/timezone.py
Due: ruff, mypy

fix metrics docs (#35)
  .gitignore
  README.md
  pipeline/data/job_aggregate_metrics/models.py
  pipeline/data/job_aggregate_metrics/repository.py
  pipeline/data/job_daily_metrics/models.py
  pipeline/data/job_daily_metrics/repository.py
  pipeline/data/job_listing/models.py
  pipeline/data/job_listing/repository.py
  pipeline/flows/stage_5_flow.py
  pipeline/services/job_data_service.py
  pipeline/services/job_metrics_service.py
  pipeline/stages/stage_1.py
  pipeline/stages/stage_2.py
  pipeline/stages/stage_3.py
  pipeline/stages/stage_4.py
  pipeline/utils/timezone.py
Due: ruff, mypy

setup docker
  .dockerignore
  Dockerfile
  Makefile
  docker-compose.yml
  mongo/01-indexes.js
  pipeline.yaml
  prefect.yaml
  scripts/start-worker.sh
Due: yamllint

update dep
  Dockerfile
Due: none
