Repository rodruizronald/tw-scrapper: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mypy, yamllint

.pre-commit-config.yaml:

---
repos:
  # Python tools using local installation
  - repo: local
    hooks:
      - id: ruff
        name: ruff format and check
        entry: bash -c 'ruff format "$@" && ruff check --fix "$@"'
        language: system
        types: [python]
        require_serial: false

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: false

      - id: yamllint
        name: yamllint
        entry: yamllint
        language: system
        types: [yaml]
        require_serial: false

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-ast
      - id: debug-statements
      - id: check-builtin-literals
      - id: check-toml
      - id: check-case-conflict

  # Python-specific checks
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-no-log-warn
      - id: python-use-type-annotations

unset python var
  docker/prefect-worker.dockerfile
  docker/streamlit-dashboard.dockerfile
Due: none

unset python var (#45)
  docker/prefect-worker.dockerfile
  docker/streamlit-dashboard.dockerfile
Due: none

tabnine mcp
  .gitignore
  pipeline.yaml
Due: yamllint

tabnine mcp (#46)
  .gitignore
  pipeline.yaml
Due: yamllint

add missing status badge
  src/dashboard/components/metrics_cards.py
Due: ruff, mypy

remove unused sidebar elements
  src/dashboard/components/sidebar.py
Due: ruff, mypy

add missing status badge (#47)
  src/dashboard/components/metrics_cards.py
  src/dashboard/components/sidebar.py
Due: ruff, mypy

log services prefect ui
  docker/docker-compose.yml
Due: yamllint

log services prefect ui (#48)
  docker/docker-compose.yml
Due: yamllint

setup python env
  .github/workflows/ci.yml
  .gitignore
  Makefile
  pyproject.toml
  scripts/dev-setup.sh
Due: yamllint

setup python env (#49)
  .github/workflows/ci.yml
  .gitignore
  Makefile
  pyproject.toml
  scripts/dev-setup.sh
Due: yamllint

company client api and service
  pyproject.toml
  src/clients/__init__.py
  src/clients/company_api/__init__.py
  src/clients/company_api/client.py
  src/clients/company_api/config.py
  src/clients/company_api/exceptions.py
  src/clients/company_api/models.py
  src/services/__init__.py
  src/services/company_service.py
Due: ruff, mypy

company client api and service (#50)
  pyproject.toml
  src/clients/__init__.py
  src/clients/company_api/__init__.py
  src/clients/company_api/client.py
  src/clients/company_api/config.py
  src/clients/company_api/exceptions.py
  src/clients/company_api/models.py
  src/services/__init__.py
  src/services/company_service.py
Due: ruff, mypy

rename mongo database
  Makefile
  docker/docker-compose.yml
  mongo/01-indexes.js
  src/core/config/database.py
Due: ruff, mypy, yamllint

refactor docker build
  Makefile
  docker/.env.example
  docker/dashboard.dockerfile
  docker/docker-compose.yml
  docker/pipeline.dockerfile
  docker/prefect.dockerfile
  scripts/start-pipeline.sh
Due: yamllint

add streamlit port
  docker/.env.example
  docker/docker-compose.yml
Due: yamllint

remove env load
  docker/dashboard.dockerfile
  docker/pipeline.dockerfile
  src/core/config/database.py
  src/pipeline/config/pipeline.py
Due: ruff, mypy

clean up build (#51)
  Makefile
  docker/.env.example
  docker/dashboard.dockerfile
  docker/docker-compose.yml
  docker/pipeline.dockerfile
  docker/prefect.dockerfile
  mongo/01-indexes.js
  scripts/start-pipeline.sh
  src/core/config/database.py
  src/pipeline/config/pipeline.py
Due: ruff, mypy, yamllint

backend comapny sync
  prefect.yaml
  src/pipeline/flows/__init__.py
  src/pipeline/flows/sync_backend_flow.py
  src/pipeline/main.py
Due: ruff, mypy, yamllint

move sync task
  src/pipeline/flows/sync_backend_flow.py
  src/pipeline/tasks/sync_companies_task.py
Due: ruff, mypy

refactor: update core models to use province-based location enum
  src/core/__init__.py
  src/core/mappers/jobs.py
  src/core/models/__init__.py
  src/core/models/jobs.py
Due: ruff, mypy

refactor: update pipeline stage_2 schema with province-based location
  pipeline.yaml
Due: yamllint

refactor: remove province and city from mongodb models and mappers
  src/data/mongo/mappers/job_mapper.py
  src/data/mongo/models/job_listing.py
Due: ruff, mypy

refactor: update supabase models and mappers with province-based location
  src/data/supebase/mappers/job_mapper.py
  src/data/supebase/models/job.py
  src/data/supebase/repositories/jobs.py
Due: ruff, mypy

refactor: remove province and city from supabase service layer
  src/data/supebase/models/__init__.py
  src/services/supabase_service.py
Due: ruff, mypy

refactor: remove province city fields (#78)
  pipeline.yaml
  src/core/__init__.py
  src/core/mappers/jobs.py
  src/core/models/__init__.py
  src/core/models/jobs.py
  src/data/mongo/mappers/job_mapper.py
  src/data/mongo/models/job_listing.py
  src/data/supebase/mappers/job_mapper.py
  src/data/supebase/models/__init__.py
  src/data/supebase/models/job.py
  src/data/supebase/repositories/jobs.py
  src/services/supabase_service.py
Due: ruff, mypy, yamllint

refactor: remove province city fields (#78)
  companies.yaml
  pipeline.yaml
  src/core/__init__.py
  src/core/mappers/jobs.py
  src/core/models/__init__.py
  src/core/models/jobs.py
  src/data/mongo/mappers/job_mapper.py
  src/data/mongo/models/job_listing.py
  src/data/supebase/mappers/job_mapper.py
  src/data/supebase/models/__init__.py
  src/data/supebase/models/job.py
  src/data/supebase/repositories/jobs.py
  src/services/supabase_service.py
  tools/selector.py
Due: ruff, mypy, yamllint

chore: add new companies
  companies.yaml
  tools/selector.py
Due: ruff, mypy, yamllint

chore: add new companies (#80)
  companies.yaml
  tools/selector.py
Due: ruff, mypy, yamllint

feat: add docker pipeline ci/cd workflow
  .github/workflows/docker-pipeline-dev.yml
  docker/pipeline.dockerfile
Due: yamllint

fix: resolve ruff linting errors for strenum and lambda
  src/core/config/system.py
  src/core/models/jobs.py
  src/core/models/metrics.py
  src/core/models/parsers.py
Due: ruff, mypy

feat: add docker pipeline ci/cd workflow (#81)
  .github/workflows/docker-pipeline-dev.yml
  docker/pipeline.dockerfile
  src/core/config/system.py
  src/core/models/jobs.py
  src/core/models/metrics.py
  src/core/models/parsers.py
Due: ruff, mypy, yamllint

feat(HNT-5): add agent PoC for browser-use job extraction
  .gitignore
  Makefile
  pyproject.toml
  tools/agent_poc/__init__.py
  tools/agent_poc/agent.py
  tools/agent_poc/config.py
  tools/agent_poc/main.py
  tools/agent_poc/models.py
Due: ruff, mypy

docs: add CLAUDE.md guides and Claude Code skills
  .claude/settings.json
  .claude/skills/create-pr/SKILL.md
  CLAUDE.md
  GIT_GUIDELINES.md
  src/core/CLAUDE.md
  src/dashboard/CLAUDE.md
  src/data/CLAUDE.md
  src/pipeline/CLAUDE.md
  src/services/CLAUDE.md
Due: none

feat(HNT-5): add agent PoC for browser-use job extraction (#82)
  .claude/settings.json
  .claude/skills/create-pr/SKILL.md
  .gitignore
  CLAUDE.md
  GIT_GUIDELINES.md
  Makefile
  pyproject.toml
  src/core/CLAUDE.md
  src/dashboard/CLAUDE.md
  src/data/CLAUDE.md
  src/pipeline/CLAUDE.md
  src/services/CLAUDE.md
  tools/agent_poc/__init__.py
  tools/agent_poc/agent.py
  tools/agent_poc/config.py
  tools/agent_poc/main.py
  tools/agent_poc/models.py
Due: ruff, mypy
